<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1"/>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilo.css' %}" />
    
    <title>Consumo de Energia</title>
</head>
<body>
    <header class=header-menu>
        <div class="header">
            <div class="logo">
                <a href="">
                    <img src="{% static 'img/logo.png' %}"/>
                </a>
            </div>
            <div class="menu">
                <nav>
                    <ul>
                        <li><a href="">sala</a></li>
                        <li><a href="">cozinha</a></li>
                        <li><a href="">quarto</a></li>
                        <li><a href="">banheiro</a></li>
                        <li><a href="">garagem</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    {% block content %}{% endblock %}
    <footer>
        <div class="footer_copia">
                Copyright - Todos os direitos reservados 
        </div>   
    </footer>
</body>
</html>